@import 'reset';

// Variables

$red: #FF0B53;
$black: #101020;
$trans: 0.3s;
$text_col: #3D3D3D;

// Mixins

@mixin transition($prop, $anim) {
  transition: $prop $trans $anim;
}

// Specification

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: $black;
}

h1,h2,h3 {
  font-weight: 700;
}

h1 {
  @media screen and (min-width: 768px) {
    font-size: 72px;
  }
}

h2 {
  @media screen and (min-width: 768px) {
    font-size: 54px;
  }
}

h4 {
  font-size: 34px;
  font-weight: 500;
}

h5 {
  font-size: 30px;
  font-weight: 500;
}

p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5em;
}

a,span {
  display: block;
  font-weight: 400;
}

section {
  padding: 120px 0;
  h2 {
    margin-bottom: 90px;
  }
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1780px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  font-size: 24px;
  color: #FBFBFB;
  text-align: center;
  padding: 18px 0;
  border-radius: 36px;
  background-color: $red;
  width: 100%;
  @include transition(background-color, ease);
  &:hover {
    background-color: #DA0242;
  }
  &.ghost {
    border: 1px solid #fff;
    background-color: transparent;
    &:hover {
      background-color: #FBFBFB;
      color: $black;
    }
  }
}

// Hero Screen

.header {
  position: relative;
  padding: 30px 0 248px;
  background: url('../img/bg_elements.svg') no-repeat center / contain, #17191D;
  color: #fff;
  overflow: hidden;
}

.header_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu_list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu_link {
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
}

.hero_banner {
  margin: 163px auto 0 auto;
  max-width: 1268px;
  padding: 72px 46px;
  text-align: center;
  background: linear-gradient(104.93deg, rgba(122, 122, 122, 0.19) 1.86%, rgba(122, 122, 122, 0) 104.73%);
  filter: drop-shadow(0px 4px 4px rgba(50, 50, 50, 0.15));
  -webkit-backdrop-filter: blur(30px);
  -moz-backdrop-filter: blur(30px);
  -o-backdrop-filter: blur(30px);
  -ms-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border-radius: 7px;
}

.banner_title {
  margin-bottom: 40px;
}

.banner_intro {
  font-size: 24px;
  margin: 0 auto 114px auto;
  max-width: 742px;
}

.banner_btns {
  a {
    max-width: 284px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
}

/* Ui elements */

.bg_elements {
  div {
    position: absolute;
    border-radius: 50%;
  }
}

.circle {
  width: 256px;
  height: 256px;
  top: 30px;
  left: 20%;
  transform: translateX(-20%);
  background: $red;
}

.cross {
  width: 1020px;
  height: 1020px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -68%;
  background: transparent;
  border: 130px solid #FF0B53;
}


// Partners Section

.partners {
  background: #F8F8F8;
}

.tab_container {
  display: flex;
  align-items: center;
  // flex-wrap: wrap;
  gap: 20px;
  margin-top: 90px;
}

.tab_content {
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  display: none;
  max-width: 860px;
  height: 362px;
  &.active {
    display: block;
  }
}

.partner {
  margin-bottom: 30px;
  display: flex;
  gap: 15px;
}

.avatar {
  img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
}

.partner_info {
  h5 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  span {
    font-size: 20px;
    color: #575757;
    font-weight: 300;
  }
}

.review {
  font-size: 20px;
  color: $text_col;
}

.tab_buttons {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 280px);
}

.tab {
  background: #fff;
  max-width: 280px;
  width: 100%;
  height: 170px;
  border-radius: 10px;
  border: 1px solid #DEDEDE;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  img {
    max-width: 75%;
  }
}

// Team Section

.team {
  position: relative;
  background: linear-gradient(90deg, #F8F8F8 0%, rgba(248, 248, 248, 0) 107.87%);
  h2 {
    margin-bottom: 70px;
  }
}

/* Bg Ui */

.bg_elements {
  div {
    position: absolute;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='172' height='172' viewBox='0 0 172 172' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M107.718 3.20753L77.6636 55.2437L25.631 25.2026L3.20754 64.0411L55.2402 94.0821L25.1991 146.115L64.0411 168.551L94.0787 116.506L146.128 146.556L168.551 107.718L116.502 77.6671L146.556 25.6309L107.718 3.20753Z' stroke='%23FF0B53' stroke-width='4' stroke-miterlimit='10'/%3E%3C/svg%3E");
  }
}

.cross_1 {
  right: 20%;
  top: 100px;
  margin-right: -75px;
}

.cross_2 {
  bottom: 62px;
  left: 10%;
}

.team_wrap {
  display: grid;
  grid-template-columns: 430px 2fr;
  gap: 20px;
  align-items: center;
}

.about_text {
  color: $text_col;
  margin-top: 18px;
}

.swiper {
  width: 100%;
  height: 100%;
}

/* Radio */

.team_pagination {
  position: relative !important;
  display: flex;
  align-items: center;
  margin-bottom: 70px;
  background: #F0F0F0;
  max-width: 634px;
  justify-content: space-between;
  border-radius: 64px;
}

.pag_item {
  padding: 20px 44px;
  &.active {
    background: $red;
    border-radius: 64px;
    label {
      color: #fff;
    }
  }
}

 /* для элемента input c type="radio" */
 .pag_input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
/* для элемента label связанного с .pag_input */
.pag_input+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-size: 24px;
  font-weight: 500;
  color:#101020;
}
/* создание в label псевдоэлемента  before со следующими стилями */
.pag_input+label::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 3px solid #09121F;
  border-radius: 50%;
  margin-right: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
/* стили при наведении курсора на радио */
.pag_input:not(:disabled):not(:checked)+label:hover::before {
  border-color: #fff;
}
/* стили для активной радиокнопки (при нажатии на неё) */
.pag_input:not(:disabled):active+label::before {
  background-color: #fff;
  border-color: #fff;
}
/* стили для радиокнопки, находящейся в фокусе */
.pag_input:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.pag_input:focus:not(:checked)+label::before {
  border-color: #fff;
}
/* стили для радиокнопки, находящейся в состоянии checked */
.pag_input:checked+label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 25.5C6.09625 25.5 0.5 19.9037 0.5 13C0.5 6.09625 6.09625 0.5 13 0.5C19.9037 0.5 25.5 6.09625 25.5 13C25.5 19.9037 19.9037 25.5 13 25.5ZM13 23C15.6522 23 18.1957 21.9464 20.0711 20.0711C21.9464 18.1957 23 15.6522 23 13C23 10.3478 21.9464 7.8043 20.0711 5.92893C18.1957 4.05357 15.6522 3 13 3C10.3478 3 7.8043 4.05357 5.92893 5.92893C4.05357 7.8043 3 10.3478 3 13C3 15.6522 4.05357 18.1957 5.92893 20.0711C7.8043 21.9464 10.3478 23 13 23ZM13 19.25C11.3424 19.25 9.75269 18.5915 8.58058 17.4194C7.40848 16.2473 6.75 14.6576 6.75 13C6.75 11.3424 7.40848 9.75269 8.58058 8.58058C9.75269 7.40848 11.3424 6.75 13 6.75C14.6576 6.75 16.2473 7.40848 17.4194 8.58058C18.5915 9.75269 19.25 11.3424 19.25 13C19.25 14.6576 18.5915 16.2473 17.4194 17.4194C16.2473 18.5915 14.6576 19.25 13 19.25Z' fill='white'/%3E%3C/svg%3E");
}
/* стили для радиокнопки, находящейся в состоянии disabled */
.pag_input:disabled+label::before {
  background-color: #e9ecef;
}

.swiper-wrapper {
  height: 430px;
}

.swiper-slide {
  width: 430px !important;
  height: 345px;
  border-radius: 5px;
  border: 1px solid #9A9A9A;
}

/* Scrollbar */

.team_scrollbar {
  position: relative !important;
  background: #676767;
  height: 1px !important;
  width: 100%;
  .swiper-scrollbar-drag {
    position: absolute;
    height: 7px;
    background: #17191D;
    top: -3px;
  } 
}

/* Navigation */

.swiper_nav {
  display: flex;
  align-items: center;
  gap: 100px;
}

.swiper_buttons {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 50px;
  div {
    flex: 0 0 auto;
    position: relative !important;
    width: 50px;
    height: 50px;
    background-color: #F8F8F8;
    border: 1px solid #DEDEDE;
    border-radius: 50%;
    top: 0;
    margin: 0;
    left: 0;
    &::after {
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.48035 7.91669L10.2914 2.10569L8.75952 0.573853L0.333355 9.00002L8.75952 17.4262L10.2914 15.8944L4.48035 10.0834H17.6667V7.91669H4.48035Z' fill='%23101020' fill-opacity='0.5'/%3E%3C/svg%3E");
    }
  }
  .swiper-button-next {
    &::after {
      transform: rotate(180deg);
    }
  }
}

.team_partner {
  position: relative;
  &:hover .read_more {
    opacity: 1;
  }
}

.read_more {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  @include transition(opacity, ease);
  button {
    max-width: 267px;
  }
  span {
    color: #F2F2F2;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;
  }
  h5 {
    margin-bottom: 10px;
    color: #fff;
  }
}

.member_info {
  display: none;
  &.show {
    display: block;
  }
}

.member_details {
}
.member_avatar {
}
.member_contacts {
}
.contact_info {
}
.term {
}
.data {
}
.socials {
}
.social_link {
}
.facebook {
}
.instagram {
}
.linkedin {
}
.twitter {
}
.member_descr {
}
.team_partner {
}

// Contact section

.contact {
  padding-bottom: 284px;
  background: url('../img/contact_bg.jpg') no-repeat center;
}

.contact_form {
  max-width: 880px;
  display: grid;
  gap: 20px;
  grid-template-areas: 
  'name email'
  'phone select'
  'message message';
}

.contact_input {
  background: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  padding: 20px;
  &::placeholder, & option {
    font-size: 20px;
    font-weight: 300;
    color: #585858;
  }
}

.name {
  grid-area: name;
}

.phone {
  grid-area: phone;
}

.email {
  grid-area: email;
}

.message {
  grid-area: message;
  height: 222px;
}

.job_type {
  grid-area: select;
}

.submit_btn {
  background: #101020;
  max-width: 284px;
  margin-left: auto;
}

.file_input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}

.file {
  position: relative;
}

.file_btn {
  display: inline-flex;
  max-width: 284px;
  width: 100%;
  padding: 16px 0;
  border: 1px solid #101020;
  border-radius: 7px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 19H20V12H22V20C22 20.2652 21.8946 20.5196 21.7071 20.7071C21.5196 20.8946 21.2652 21 21 21H3C2.73478 21 2.48043 20.8946 2.29289 20.7071C2.10536 20.5196 2 20.2652 2 20V12H4V19ZM14 9V15H10V9H5L12 2L19 9H14Z' fill='%23101020'/%3E%3C/svg%3E");
  }
}


.btn {
}

